@{
    string dayToString(DateTime? a)
    {
        if (a == null)
        {
            return "";
        }
        return a.Value.ToString("dd-MM-yyyy");
    }
}
    @foreach (PhieuNhapKho p in ViewBag.ListPhieuNhap)
    {
          <tr>
              <td class="text-center">@p.SoPn</td>
              <td>@p.IdnccNavigation.TenNcc</td>
              <td class="text-center">@p.NgayTao.Value.ToString("dd-MM-yyyy HH:mm")</td>
              <td>@p.SoHd</td>
              <td class="text-center">@dayToString(p.NgayHd)</td>
              <td>@p.IdnvNavigation.TenNv</td>
              <td>@p.GhiChu</td>
              <td class="last-td-column">
                  <div class="action justify-content-center">
                            <a href="/QuanLy/NhapKho/download/phieunhapkho/@p.Id" class="text-success" style="padding: 0px 6px">
                                <i class="lni lni-printer"></i>
                            </a>
                          <button type="button" value="@p.Id" class="text-warning btn-view-pn">
                              <i class="lni lni-eye"></i>
                          </button>
                          <button type="button" value="@p.Id" class="text-primary btn-edit-pn">
                              <i class="lni lni-pencil"></i>
                          </button>
                          <button type="button" value="@p.Id" class="text-danger btn-remove-pn">
                              <i class="lni lni-trash-can"></i>
                          </button>
                  </div>
              </td>
          </tr>
    }