@{
    string dayToString(DateTime? a)
    {
        if (a == null)
        {
            return "";
        }
        return a.Value.ToString("dd-MM-yyyy");
    }
    int i = 1;
    bool getTT(BaoHanh bh, DateTime? ngayTao){
        if(bh==null){
            return false;
        }else{
            return DateTime.Now.Date <= ngayTao.Value.AddDays(bh.SoNgay.Value).Date;
        }
    }
}
<tbody id="tBody">
@foreach (ChiTietPhieuXuat p in ViewBag.BHCT)
{
              <tr>
                  <td class="text-center">@i</td>
                  <td class="text-center">@p.IdpxNavigation.NgayTao.Value.ToString("dd-MM-yyyy")</td>
                  <td>@p.IdpxNavigation.IdkhNavigation.TenKh</td>
                  <td class="text-center">@p.IdhhNavigation.MaHh</td>
                  <td>@p.IdhhNavigation.TenHh</td>
                  <td class="text-end">@p.Sl</td>
                  <td>@p.IddvtNavigation.TenDvt</td>
                  <td class="text-end">@p.DonGia.Value.ToString("#,##0.00")</td>
                  <td>@(p.IdhhNavigation.IdbaoHanhNavigation == null ? "" : p.IdhhNavigation.IdbaoHanhNavigation.TenBh)</td>
                  <td class="text-center">
                    @if (getTT(p.IdhhNavigation.IdbaoHanhNavigation, p.IdpxNavigation.NgayTao))
                    {
                        <span class="status-btn success-btn">Còn bảo hành</span>
                    }else{
                        <span class="status-btn close-btn">Hết bảo hành</span>
                    }
                  </td>
                  <td class="text-end soLanBaoHanh">@p.ThongTinBaoHanhs.Count()</td>
                  <td class="last-td-column text-center">
                      <div class="action justify-content-center">
                                 <button value="@p.Id" class="text-primary btn-baoHanh" title="Thực hiện bảo hành">
                                    <i class="lni lni-protection"></i>
                                 </button>
                      </div>
                  </td>
              </tr>
              i++;
}
</tbody>