@model Hhdvt
@{
    string toDecimal(double? d)
    {
        if (d == null)
        {
            return "";
        }
        else
        {
            return d.Value.ToString("#,##0.##");
        }
    }
}
<form class="card-style m-30" style="border: none;" id="formUpdate">
	<h6 class="text-center mb-3">Thông tin</h6>
    <div class="col-12" style="margin-bottom: 15px">
        <label for="DVT">Đơn vị tính</label>
        <select tabindex="1" id="DVT" class="form-select w-100 my-selectize" required>
            @if (Model.IddvtNavigation != null)
            {
                <option value="@Model.Iddvt">@Model.IddvtNavigation.TenDvt</option>
            }
        </select>
    </div>
    <div class="input-style-1">
        <label for="Slquydoi required">SL quy đổi</label>
        <input autocomplete="off" required tabindex="2" type="text" value="@toDecimal(Model.SlquyDoi)" id="Slquydoi" placeholder="Số lượng quy đổi" class="text-decimal form-control">
    </div>
    <div class="input-style-1">
        <label for="TLLe">Tỉ lệ lẻ</label>
        <input min="0" max="100" autocomplete="off" tabindex="3" type="text" value="@toDecimal(Model.TiLeLe)" id="TLLe" placeholder="Tỉ lệ lẻ" class="text-decimal form-control">
    </div>
    <div class="input-style-1">
        <label for="TLSi">Tỉ lệ sỉ</label>
        <input min="0" max="100" autocomplete="off" tabindex="4" type="text" value="@toDecimal(Model.TiLeSi)" id="TLSi" placeholder="Tỉ lệ sỉ" class="text-decimal form-control">
    </div>
    <div class="input-style-1">
        <label for="GBLe">Giá bán lẻ</label>
        <input autocomplete="off" tabindex="5" type="text" value="@toDecimal(Model.GiaBanLe)" id="GBLe" placeholder="Giá bán lẻ" class="text-decimal form-control">
    </div>
    <div class="input-style-1">
        <label for="GBSi">Giá bán sỉ</label>
        <input autocomplete="off" tabindex="6" type="text" value="@toDecimal(Model.GiaBanSi)" id="GBSi" placeholder="Giá bán sỉ" class="text-decimal form-control">
    </div>
</form>
<script>
    $.ajax({
        data: "idHh=" + @Html.Raw(ViewBag.IdHH) + "&idDvt=" + @Html.Raw(Model.Iddvt),
        type: 'POST',
        url: '/QuyDinh/HHDVT/api/dvts'
    }).done(function (response) {
        $('#DVT').selectize({
            maxOptions: 50,
            onFocus: function ($dropdown) {
                $('.my-selectize').not(this.$input).each(function () {
                    if (this.selectize) {
                        this.selectize.close();
                        this.selectize.blur();
                    }
                });
            },
            valueField: "id",
            labelField: "ten",
            searchField: ["ten", "ma"],
            placeholder: '-- Đơn vị tính --',
            loadThrottle: 400,
            options: response
        });
    });
    formatNumberFloatWithElement($('.text-decimal'));

$('.text-decimal').focus(function(){
    $('.text-decimal').removeClass('is-invalid')
});
function checkNumber(str) {
        return /[0-9,.\-$]+/.test(str);
}

</script>