@{
    PhanQuyenChucNang pqcn = ViewBag.PhanQuyenPQ;
}

    <div class="row">
        <div class="col-lg-4 pe-0">
            <div class="card mb-2 p-3">
                <div class="form-check form-switch toggle-switch mb-2">
                                <input class="form-check-input" type="checkbox" id="toggleSwitch1" onchange="showHHGiaLo()">
                                <label class="form-check-label" for="toggleSwitch1">Hàng hoá có thể lỗ</label>
                </div>
                <input placeholder="Tìm kiếm" class="form-control mb-2" id="search" type="text" disabled="@(!pqcn.TimKiem.Value)">
                <div class="card">
                    <div class="table-responsive" style="max-height:65vh;">
                        <table class="table table-bordered top-selling-table table-hover display nowrap">
                            <thead>
                                <tr>
                                    <th class="first-th-column text-center">
                                        <h6 class="text-sm fw-bold ">
                                            Mã HH
                                        </h6>
                                    </th>
                                    <th>
                                        <h6 class="text-sm fw-bold text-start">
                                            Tên HH
                                        </h6>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="tBodyHangHoa">
                                @foreach (HangHoa hh in ViewBag.HHs)
                                {
                                    <tr style="cursor:pointer" data-id="@hh.Id">
                                        <td class="text-center first-td-column">
                                            @hh.MaHh
                                        </td>
                                        <td>
                                            @hh.TenHh
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        
        </div>
        <div class="col-lg-8" id="tabHHDVT">
            <div class="card mb-2">
                <div class="table-responsive" style="max-height: 35vh;">
                    <table class="table table-bordered top-selling-table table-hover display nowrap">
                        <thead>
                            <tr>
                                <th colspan="7" class="p-0" style="border: 2px solid lightgray;">
                                    <div class="group-btn">
                                        <div class="d-flex">
                                            <button onclick="showModalHHDVT(0)" disabled="@(!pqcn.Them.Value)" class="main-btn primary-btn btn-hover" style="border-radius:0" type="button" id="btn-them">
                                                <span>Thêm mới</span>
                                            </button>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                            <tr class="text-center" style="background-color:lightgray;">
                                <th class="min-width">
                                    <h6 class="text-sm fw-bold">
                                        Tên ĐVT
                                    </h6>
                                </th>
                                <th class="min-width">
                                    <h6 class="text-sm fw-bold">
                                        SL quy đổi
                                    </h6>
                                </th>
                                <th class="min-width">
                                    <h6 class="text-sm fw-bold">
                                        Tỉ lệ lẻ
                                    </h6>
                                </th>
                                <th class="min-width">
                                    <h6 class="text-sm fw-bold">
                                        Tỉ lệ sỉ
                                    </h6>
                                </th>
                                <th class="min-width">
                                    <h6 class="text-sm fw-bold">
                                        Giá bán lẻ
                                    </h6>
                                </th>
                                <th class="min-width">
                                    <h6 class="text-sm fw-bold">
                                        Giá bán sỉ
                                    </h6>
                                </th>
                                <th class="last-th-column min-width">
                                    <h6 class="text-sm fw-bold">
                                        Thao tác
                                    </h6>
                                </th>
                            </tr>
                        </thead>
                        <tbody id="tBodyDVT">
                        </tbody>
                    </table>
                </div>
            </div>
            <label>Giá nhập của hàng hoá tồn kho</label>
            <div class="card mb-3">
                <div class="table-responsive" style="max-height: 200px;">
                    <table class="table table-bordered top-selling-table table-hover display nowrap">
                            <thead>
                              <tr class="text-center" style="background-color:lightgray;">
                                <th class="min-width">
                                  <h6 class="text-sm fw-bold">
                                    ĐVT Chính
                                  </h6>
                                </th>
                                <th class="min-width">
                                  <h6 class="text-sm fw-bold">
                                    Ngày nhập
                                  </h6>
                                </th>
                                <th class="min-width">
                                  <h6 class="text-sm fw-bold">
                                    Hạn dùng
                                  </h6>
                                </th>
                                <th class="min-width">
                                  <h6 class="text-sm fw-bold">
                                    SL Tồn
                                  </h6>
                                </th><th class="min-width">
                                  <h6 class="text-sm fw-bold">
                                    Giá vốn
                                  </h6>
                                </th>
                              </tr>
                            </thead>
                            <tbody id="tBodyGia">

                            </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>
 <div class="col-lg-8" id="tabHHDVT">
                        <div class="row" style="overflow-x:auto;overflow-y:auto; max-height:300px;padding-right:0">
                            
                        </div>
                        
                        <div class="row" style="overflow-x:auto;overflow-y:auto; max-height:200px;padding-right:0">
                            
                        </div>
                    </div>
<script>
    var _qThem = @pqcn.Them.ToString().ToLower();
    var _qXoa = @pqcn.Xoa.ToString().ToLower();
    var _qSua = @pqcn.Sua.ToString().ToLower();
    var _qXuat = @pqcn.Xuat.ToString().ToLower();
</script>
<script src="/assets/js/HHDVT.js" asp-append-version="true">
</script>