@model HangHoa 
<div class="card-style m-30" style="border: none;">
     <h6 class="text-center">Thông tin</h6>
     <div class="input-style-1">
        <label for="formFileMultiple" class="form-label">Ảnh hàng hoá</label>
        <input style="font-size: small !important;" tabindex="-1" class="form-control" type="file" id="Avatar">
        <img id="previewImage" src="@(Model.Avatar == null ? "" : Model.Avatar)" class="image-modal rounded mx-auto d-block mt-1" alt="@(Model.TenHh == null ? "..." : Model.TenHh)">
     </div>
                  <div class="input-style-1">
                    <label for="Ma">Mã hàng hoá</label>
                    <input tabindex="1" type="text" asp-for="@Model.MaHh" readonly id="Ma" placeholder="Auto">
                  </div>
                  <div class="input-style-1">
                    <label for="Ten">Tên hàng hoá</label>
                    <input tabindex="2" type="text" asp-for="@Model.TenHh" id="Ten" placeholder="Tên hàng hoá">
                  </div>
                  <div class="form-group input-style-1">
                    <label for="Nhh">Nhóm HH</label>
                    <div class="select-position d-flex justify-content-center">
                         <select tabindex="3" id="Nhh" class="form-select w-100 my-selectize" required>
                             @if(Model.Idnhh != null){
                                <option value="@Model.Idnhh">@Model.IdnhhNavigation.TenNhh</option>
                             }
                         </select>
                      </div>
                  </div>
                  <div class="form-group input-style-1">
                    <label for="Hsx">Hãng sản xuất</label>
                    <div class="select-position d-flex justify-content-center">
                         <select tabindex="4" id="Hsx" class="form-select w-100 my-selectize" required>
                             @if(Model.IdhsxNavigation!=null){
                                 <option value="@(Model.Idhsx)">@(Model.IdhsxNavigation.TenHsx)</option>
                             }
                         </select>
                      </div>
                  </div>
                  <div class="form-group input-style-1">
                    <label for="Nsx">Nước sản xuất</label>
                    <div class="select-position d-flex justify-content-center">
                         <select tabindex="5" id="Nsx" class="form-select w-100 my-selectize" required>
                             @if(Model.IdnsxNavigation!=null){
                                 <option value="@(Model.Idnsx)">@(Model.IdnsxNavigation.TenNsx)</option>
                             }
                         </select>
                      </div>
                  </div>
                  <div class="input-style-1">
                    <label for="Dvtc">Đơn vị tính chính</label>
                    <div class="select-position d-flex justify-content-center">
                         <select tabindex="6" id="Dvtc" class="form-select w-100 my-selectize" required>
                             @if(Model.IddvtchinhNavigation != null){
                                <option value="@Model.Iddvtchinh">@(Model.IddvtchinhNavigation.TenDvt)</option>
                             }
                         </select>
                      </div>
                  </div>
                  <div class="input-style-1">
                    <label for="Bh">Loại bảo hành</label>
                    <div class="select-position d-flex justify-content-center">
                         <select tabindex="6" id="Bh" class="form-select w-100 my-selectize" required>
                @if (Model.IdbaoHanhNavigation != null)
                {
                                    <option value="@Model.IdbaoHanh">@(Model.IdbaoHanhNavigation.TenBh)</option>
                }
                         </select>
                      </div>
                  </div>
</div>
<script>
    $.ajax({
        type: 'POST',
        url: '/DanhMuc/HangHoa/api/nhhs'
    }).done(function (response) {
        $('#Nhh').selectize({
            maxOptions: 50,
            onFocus: function ($dropdown) {
                $('.my-selectize').not(this.$input).each(function () {
                    if (this.selectize) {
                        this.selectize.close();
                        this.selectize.blur();
                    }
                });
            },
            valueField: "id",
            labelField: "ten",
            searchField: ["ten", "ma"],
            placeholder: '-- Nhóm hàng hoá --',
            loadThrottle: 400,
            options: response
        });
    });
    $.ajax({
        type: 'POST',
        url: '/DanhMuc/HangHoa/api/nsx'
    }).done(function (response) {
        $('#Nsx').selectize({
            onFocus: function ($dropdown) {
                $('.my-selectize').not(this.$input).each(function () {
                    if (this.selectize) {
                        this.selectize.close();
                        this.selectize.blur();
                    }
                });
            },
            valueField: "id",
            labelField: "ten",
            searchField: ["ten", "ma"],
            placeholder: '-- Nước sản xuất --',
            loadThrottle: 400,
            options: response
        });
    });
    $.ajax({
        type: 'POST',
        url: '/DanhMuc/HangHoa/api/hsx'
    }).done(function (response) {
        $('#Hsx').selectize({
            onFocus: function ($dropdown) {
                $('.my-selectize').not(this.$input).each(function () {
                    if (this.selectize) {
                        this.selectize.close();
                        this.selectize.blur();
                    }
                });
            },
            valueField: "id",
            labelField: "ten",
            searchField: ["ten", "ma"],
            placeholder: '-- Hãng sản xuất --',
            loadThrottle: 400,
            options: response
        });
    });
    $.ajax({
        type: 'POST',
        url: '/DanhMuc/HangHoa/api/dvts'
    }).done(function (response) {
        $('#Dvtc').selectize({
            onFocus: function ($dropdown) {
                $('.my-selectize').not(this.$input).each(function () {
                    if (this.selectize) {
                        this.selectize.close();
                        this.selectize.blur();
                    }
                });
            },
            valueField: "id",
            labelField: "ten",
            searchField: ["ten", "ma"],
            placeholder: '-- Đơn vị tính chính --',
            loadThrottle: 400,
            options: response
        });
    });
    $.ajax({
        type: 'POST',
        url: '/DanhMuc/HangHoa/api/bh'
    }).done(function (response) {
        $('#Bh').selectize({
            onFocus: function ($dropdown) {
                $('.my-selectize').not(this.$input).each(function () {
                    if (this.selectize) {
                        this.selectize.close();
                        this.selectize.blur();
                    }
                });
            },
            valueField: "id",
            labelField: "ten",
            searchField: ["ten", "ma"],
            placeholder: '-- Loại bảo hành --',
            loadThrottle: 400,
            options: response
        });
    });
</script>