@model List<PhieuNhapKho>
@{
    Layout = null;
    string toDecimal(double? d)
    {
        return d.Value.ToString("#,##0");
    }
}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" conNt="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="/assets/images/logo.png"
      type="image/x-icon"
    />
    <title>@ViewData["title"]</title>

    <!-- ========== All CSS files linkup ========= -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/lineicons.css" />
    <link rel="stylesheet" href="/assets/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="/assets/css/fullcalendar.css" />
    <link rel="stylesheet" href="/assets/css/fullcalendar.css" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <style>
        th{
            border:1px solid !important;
        }
        td{
            border:1px solid !important;
        }
    </style>
    <script src="/lib/jquery/dist/jquery.min.js"></script>

  </head>
<body style="background-color:white">
<main class="main-wrapper" style="margin-left:0">
    <section class="section">
          <div class="container-fluid">
                <header class="d-flex justify-content-between mb-2" style="border-bottom:double;font-size:larger">
                    <div class="col-lg-1 mr-10">
                        <img src="/assets/images/logo2.png"
                             alt=""
                             style="height: 120px; width: 120px" />
                    </div>
                    <div class="col-lg-11 ml-15">
                        <div class="row justify-content-between">
                            <div class="col-lg-8">
                                <label class="col-form-label p-0"
                                           style="text-transform: uppercase;font-size:larger;"><b>Công ty TNHH MTV Thanh Ý</b>
                                </label>
                            </div>
                            <div class="col-lg-4">
                                <h4 class="text-center" style="color: black">
                                    <b>BÁO CÁO</b>
                                </h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-8">
                                <label class="col-form-label p-0">Địa chỉ: 45 Nguyễn Trọng Lội, P4, Q.Tân Bình, TP HCM</label>
                            </div>
                            <div class="col-lg-4">
                                <h4 class="text-center" style="color: black">
                                    <b>PHIẾU NHẬP KHO</b>
                                </h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-8 row justify-content-between">
                                <div class="col-lg-6">
                                    <label class="col-form-label p-0">SĐT: 0329263644</label>
                                </div>
                                <div class="col-lg-6">
                                    <label class="col-form-label p-0">Email: thanhy123zzz@gmail.com</label>
                                </div>
                            </div>
                            <div class="col-lg-4 row justify-content-between">
                                <div class="col-lg-6">
                                    <label class="col-form-label p-0">Từ: @ViewBag.tuNgay</label>
                                </div>
                                <div class="col-lg-6">
                                    <label class="col-form-label p-0">Đến: @ViewBag.denNgay</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-8 row justify-content-between">
                                <div class="col-lg-6">
                                    <label class="col-form-label p-0">MST: 21552663733</label>
                                </div>
                                <div class="col-lg-6">
                                    <label class="col-form-label p-0">Số TK: 022392726237</label>
                                </div>
                            </div>
                            <div class="col-lg-4 row justify-content-between">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-8 row justify-content-between">
                                <div class="col-lg-6">
                                    <label class="col-form-label p-0">Ngân hàng: TECHCOMBANK</label>
                                </div>
                                <div class="col-lg-6">
                                    <label class="col-form-label p-0">Chủ TK: Nguyễn Thanh Ý</label>
                                </div>
                            </div>
                            <div class="col-lg-4 row justify-content-between">
                            </div>
                        </div>
                    </div>
                </header>
                <article>

                    <div>
                        <table id="tableChiTietPhieuNhap"
                               class="table table-striped top-selling-table table-hover display nowrap"
                               style="width: 100%">
                            <thead>
                                <tr>
                                    <th class="text-center">Ngày tạo</th>
                                    <th class="text-center">Số phiếu</th>
                                    <th class="text-center">Ngày HĐ</th>
                                    <th class="text-center">Số HĐ</th>
                                    <th class="text-center">Nhà CC</th>
                                    <th class="text-center">∑ Tiền hàng</th>
                                    <th class="text-center">∑ Tiền CK</th>
                                    <th class="text-center">∑ VAT</th>
                                    <th class="text-center">∑ Phải trả</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    double tongTH = 0;
                                    double tongCK = 0;
                                    double tongThue = 0;
                                    double tongThanhToan = 0;
                                }
                                @foreach (PhieuNhapKho pn in Model)
                                {
                                    <tr>
                                        @{
                                            var ListCTPNT = pn.ChiTietPhieuNhaps.ToList();
                                            var TienHang = Math.Round(ListCTPNT.Sum(x => x.Sl * x.DonGia), 2);
                                            var TienCK = Math.Round(ListCTPNT.Sum(x => (x.Sl * x.DonGia * x.Cktm) / 100).Value, 2);
                                            var TienThue = Math.Round(ListCTPNT.Sum(x => (((x.Sl * x.DonGia) - ((x.Sl * x.DonGia * x.Cktm) / 100)) * x.Thue) / 100).Value, 2);
                                            var TienThanhToan = Math.Round(TienHang - TienCK + TienThue, 2);
                                            tongTH += TienHang;
                                            tongCK += TienCK;
                                            tongThue += TienThue;
                                            tongThanhToan += TienThanhToan;
                                        }
                                        <td class="text-center">@pn.NgayTao.Value.ToString("dd-MM-yy")</td>
                                        <td class="text-center">@pn.SoPn</td>
                                        <td class="text-center">@pn.NgayHd.Value.ToString("dd-MM-yy")</td>
                                        <td class="text-center">@pn.SoHd</td>
                                        <td class="text-start">@pn.IdnccNavigation.TenNcc</td>
                                        <td class="text-end">@toDecimal(TienHang)</td>
                                        <td class="text-end">@toDecimal(TienCK)</td>
                                        <td class="text-end">@toDecimal(TienThue)</td>
                                        <td class="text-end">@toDecimal(TienThanhToan)</td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr style="background-color:lightgray">
                                    <td colspan="5"><b>Tổng:</b></td>
                                    <td class="text-end">@toDecimal(tongTH)</td>
                                    <td class="text-end">@toDecimal(tongCK)</td>
                                    <td class="text-end">@toDecimal(tongThue)</td>
                                    <td class="text-end">@toDecimal(tongThanhToan)</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                    <div class="sign">
                        <div class="row" style="font-size: larger">
                            <label class="col-sm-4 col-4 text-center text-dark">
                                <b>Thủ trưởng đơn vị</b>
                            </label>
                            <label class="col-sm-4 col-4 text-center text-dark">
                                <b>Kế toán</b>
                            </label>
                            <label class="col-sm-4 col-4 text-center text-dark"><b>Người lập phiếu</b></label>
                        </div>
                        <div class="row">
                            <label class="col-sm-4 col-4 text-center text-dark"
                                   style="padding-bottom: 120px">
                                <i>(ký,họ tên, đóng dấu)</i>
                            </label>
                            <label class="col-sm-4 col-4 text-center text-dark"
                                   style="padding-bottom: 120px">
                                <i>(ký,họ tên)</i>
                            </label>

                            <label class="col-sm-4 col-4 text-center text-dark"
                                   style="padding-bottom: 120px"><i>(ký,họ tên)</i></label>
                        </div>
                    </div>
                </article>
          </div>
      </section>
</main>
          <script src="/assets/js/bootstrap.bundle.min.js"></script>
        <script src="/assets/js/Chart.min.js"></script>
        <script src="/assets/js/dynamic-pie-chart.js"></script>
        <script src="/assets/js/moment.min.js"></script>
        <script src="/assets/js/fullcalendar.js"></script>
        <script src="/assets/js/jvectormap.min.js"></script>
        <script src="/assets/js/world-merc.js"></script>
        <script src="/assets/js/polyfill.js"></script>
        <script src="/assets/js/main.js"></script>
</body>
</html>