@{
    Layout = "/Views/Shared/LayoutPdf.cshtml";
    PhieuXuatKho px = ViewBag.PhieuXuat;
    var tienHang = px.ChiTietPhieuXuats.Sum(ct => ct.DonGia * ct.Sl);
    var TongChiecKhau = px.ChiTietPhieuXuats.Sum(ct => (ct.DonGia * ct.Sl * ct.Cktm) / 100);
    var TongThue = px.ChiTietPhieuXuats.Sum(ct => (((ct.DonGia * ct.Sl) - ((ct.DonGia * ct.Sl * ct.Cktm) / 100)) * ct.Thue) / 100);
    var TongTra = tienHang - TongChiecKhau + TongThue;
}
<style>
    th {
        font-size: 15px;
    }

    td {
        font-size: 15px;
    }
</style>
<div class="title card" style="margin-left:0; display:block;">
    <div style="width:100%">
        <h1 style="font-size: x-large;font-weight: 700;text-align: center; margin: 0;">
            PHIẾU XUẤT KHO
        </h1>
    </div>
</div>
<div class="info card">
    <div class="row-info text-center">
        Số phiếu: <b>@px.SoPx</b>, Ngày tạo: <b>@px.NgayTao.Value.ToString("dd-MM-yyyy")</b>
    </div>
    <div class="row-info text-center">
        Số HĐ: <a>@px.SoHd</a>, Ngày HĐ: @px.NgayHd?.ToString("dd-MM-yyyy")
    </div>
    <div class="row-info">
        <div class="flex w-100">
            <div>
                Tên khách hàng: <b>@px.IdkhNavigation.TenKh</b>
            </div>
        </div>
        <div class="flex">
            <div>
                Địa chỉ: <b>@px.IdkhNavigation.DiaChi</b>
            </div>
        </div>
        <div class="flex">
            <div class="w-50">
                Điện thoại: <b>@px.IdkhNavigation.Sdt</b>
            </div>
            <div class="w-50">
                Email: <b>@px.IdkhNavigation.Email</b>
            </div>
        </div>
    </div>
    <div class="row-info">
        <div class="flex w-100">
            <div>
                Ghi chú: @px.GhiChu
            </div>
        </div>
    </div>
</div>
<div class="table card">
    <table style="width:100%;">
        <thead>
            <tr>
                <th style="width:3%">STT</th>
                <th style="width:8%">Mã hàng</th>
                <th style="width:30%">Tên hàng</th>
                <th style="width:8%">ĐVT xuất</th>
                <th style="width:8%">SL xuất</th>
                <th style="width:8%">Đơn giá</th>
                <th style="width:4%">%CK</th>
                <th style="width:4%">%VAT</th>
                <th style="width:12%">Thành tiền</th>
            </tr>
            <tr>
                <th style="width:3%">A</th>
                <th style="width:8%">B</th>
                <th style="width:30%">C</th>
                <th style="width:8%">D</th>
                <th style="width:8%">1</th>
                <th style="width:8%">2</th>
                <th style="width:4%">3</th>
                <th style="width:4%">4</th>
                <th style="width:12%">5</th>
            </tr>
        </thead>
        <tbody>
            @{
                int index = 0;
            }
            @foreach (ChiTietPhieuXuat ct in px.ChiTietPhieuXuats)
            {
                index++;
                <tr>
                    <td class="text-center">@index</td>
                    <td class="text-center">@ct.IdhhNavigation.MaHh</td>
                    <td class="text-start">@ct.IdhhNavigation.TenHh</td>
                    <td>@ct.IdhhNavigation.IddvtchinhNavigation.TenDvt</td>
                    <td class="text-end">@ct.Sl?.ToString("#,##0.##")</td>
                    <td class="text-end">@ct.DonGia?.ToString("#,##0.##")</td>
                    <td class="text-end">@ct.Cktm</td>
                    <td class="text-end">@ct.Thue</td>
                    <td class="text-end">@((ct.DonGia * ct.Sl)?.ToString("#,##0.##"))</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="">
    <div class="flex" style="border: 1px solid black; padding:5px; font-size:16px; letter-spacing: 0.5px">
        <div class="w-25">
            Tiền hàng: @tienHang?.ToString("#,##0.##")
        </div>
        <div class="w-25">
            Tiền CK: @TongChiecKhau?.ToString("#,##0.##")
        </div>
        <div class="w-25">
            Tiền thuế: @TongThue?.ToString("#,##0.##")
        </div>
        <div class="w-25">
            Phải trả: @TongTra?.ToString("#,##0.##")
        </div>
    </div>
</div>
<div style="page-break-inside:avoid;">
    <div class="text-end">
        <em>Ngày ... Tháng ... Năm ...</em>
    </div>
    <div class="">
        <div class="flex" style="font-size:16px; font-weight:700">
            <div class="w-20 text-center">
                Thủ trưởng đơn vị
            </div>
            <div class="w-20 text-center">
                Kế toán
            </div>
            <div class="w-20 text-center">
                Người nhận hàng
            </div>
            <div class="w-20 text-center">
                Người giao hàng
            </div>
            <div class="w-20 text-center">
                Người lập phiếu
            </div>
        </div>
    </div>
    <div>
        <div class="flex" style="font-size:12px;">
            <div class="w-20 text-center">
                (ký, họ tên, đóng dấu)
            </div>
            <div class="w-20 text-center">
                (ký, họ tên)
            </div>
            <div class="w-20 text-center">
                (ký, họ tên)
            </div>
            <div class="w-20 text-center">
                (ký, họ tên)
            </div>
            <div class="w-20 text-center">
                (ký, họ tên)
            </div>
        </div>
    </div>
</div>