@{
    string toDecimal(double? d){
        if(d==null){
            return "";
        }else{
            return d.Value.ToString("#,##0.##");
        }
    }
    HangHoa hh = ViewBag.Hhdvt;
}

<tbody id="tBodyDVT">
             <tr data-id="@hh.Id" style="background-color:aliceblue">
                <td>
                    @hh.IddvtchinhNavigation.TenDvt
                </td>
                <td class="text-end">
                    @toDecimal(hh.TiLeLe)
                </td>
        <td class="text-end">
                    @toDecimal(hh.TiLeSi)
                </td>
        <td class="text-end">
                    @toDecimal(hh.GiaBanLe)
                </td>
        <td class="text-end">
                    @toDecimal(hh.GiaBanSi)
                </td>
         </tr>
    @foreach (Hhdvt hhdvt in ViewBag.Hhdvts)
    {
         <tr data-id="@hhdvt.Id">
                <td>
                    @hhdvt.IddvtNavigation.TenDvt
                </td>
            <td class="text-end">
                    @toDecimal(hhdvt.TiLeLe)
                </td>
            <td class="text-end">
                    @toDecimal(hhdvt.TiLeSi)
                </td>
            <td class="text-end">
                    @toDecimal(hhdvt.GiaBanLe)
                </td>
            <td class="text-end">
                    @toDecimal(hhdvt.GiaBanSi)
                </td>
         </tr>
    }
</tbody>
